.newsList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 44px;
}

@media only screen and (min-width: 768px) {
  .newsList {
    flex-direction: row;
    row-gap: 60px;
    column-gap: 24px;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1280px) {
  .newsList {
    row-gap: 68px;
    column-gap: 35px;
  }
}
