.imageWrapper {
  position: relative;
  height: 80px;
  min-width: 80px;
}

.workTime {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 30px;
  background-color: #fff4df;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: #f6b83d;
  padding: 8px;
}

.frinedItem {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  gap: 14px;
  padding: 40px 20px;
}

.frinedTitle {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.04em;
  margin-bottom: 14px;
}

.friendListContacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.friendItemContacts {
  color: #262626;
  transition: color 300ms ease-in-out;
}

.friendItemContacts:hover,
.friendItemContacts:focus {
  color: #f6b83d;
}

@media only screen and (min-width: 768px) {
  .imageWrapper {
    height: 90px;
    width: 90px;
  }
  .frinedItem {
    width: calc((100% - 20px) / 2);
    gap: 16px;
  }
  .workTime {
    font-size: 14px;
    line-height: 1.28;
  }
  .frinedTitle {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .frinedItem {
    width: calc((100% - 20px * 2) / 3);
    gap: 20px;
  }
  .frinedTitle {
    font-weight: 800;
  }
}
